name: JFrog CLI Core Tests
on:
  pull_request_target:
  
jobs:
  test:
    runs-on: ubuntu-latest
      
    steps:
      - name: Test
        run: echo ${{ github.event.pull_request }}
        
      - name: Test2
        run: echo ${{ github.event.pull_request.sender }}        
